/* SECCION DE HISTORIA */
.contenedores-historia {
   @include flex-column-centrado;
    gap: 30px;

    img {
        height: 200px;
    }
 }
 
 @media screen and (min-width: $pantalla-grande) {
    .contenedores-historia {
       flex-direction: row;
    }
 }
 
 h3 {
    font-family: $fuente-titulos;
    text-align: center;
 }
 
 .contenedor-opciones {
   @include flex-column-centrado;
 }
 
 .contenedor-labels {
    display: flex;
    gap: 30px;
 }
 
 .boton-historia {
   @extend .botones-generales;
    background-color: yellow;
    color: #393839;
 }
 
 .contenedor-labels label {
   @extend .botones-generales;
    background-color: gray;
    color: white;
 }
 
 .contenedor-botones a {
    display: none;
 }
 
 #sitio-web,
 #whatsapp {
    display: none;
 }
 
 #sitio-web:checked ~ .contenedor-botones .boton-web {
    display: block;
 }
 
 #whatsapp:checked ~ .contenedor-botones .boton-whatsapp {
    display: block;
 }
 
 .contenedores-historia:nth-of-type(2n) {
    background-color: yellow;
    color: #393839;
 }
 
 .contenedores-historia:not(:last-of-type) {
    margin-bottom: 60px;
 }
 
 .nav-item:first-of-type {
    background-color: aqua;
    color: #393839;
 }
 
 /* .nav-item:last-of-type {
    background-color: aqua;
    color: #393839;
 } */
 
 /* .nav-item:nth-of-type(2) {
    background-color: aqua;
    color: #393839;
 } */

//  probando sass
.sass {
   color: red;
}