/*Variable para colores y fuentes*/
$bg-body: #393839;
$fuente-grande: 2rem;
$fuente-chica: 1rem;

$fuente-titulos: 'Roboto', sans-serif;

/*Tamaños de las media queries*/
$pantalla-mediana: 768px;
$pantalla-grande: 800px;
$pantalla-xg: 1200px



